* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #dff1ff;
  color: #333;
}

.app-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expense-container {
  width: 100%;
  max-width: 600px;
  padding: 30px;
  text-align: center;
}